/* Importação da fonte Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* 1. Estilos Globais */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    transition: background-color 0.3s ease;
}

h1, h2, h3 {
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

h2, h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.6;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

strong {
    font-weight: bold;
}

/* 2. Formulários */
textarea, select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
    text-align: left;
}

textarea:invalid, select:invalid, input:invalid, .input-error {
    border-color: #dc3545; /* Vermelho para campos não preenchidos */
}

textarea:valid, select:valid, input:valid, .input-valid {
    border-color: #28a745; /* Verde para campos preenchidos */
}

.error-message-small {
    font-size: 12px;
    color: #dc3545;
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838; /* Cor verde mais escura para o hover */
}

.feedback-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* 3. Listas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info-list {
    margin: 20px 0;
}

.info-list li {
    margin-bottom: 10px;
}

.numbered-list {
    counter-reset: item;
    list-style-type: none;
    padding: 0;
}

.numbered-list li {
    margin: 10px 0;
}

.numbered-list li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    font-weight: bold;
}

.bullet-list {
    margin-left: 20px;
}

/* 4. Containers e Seções */
.container {
    width: 100%;
    max-width: 960px; /* Largura máxima adequada para desktops */
    margin: 0 auto; /* Centraliza o contêiner */
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.section {
    margin-bottom: 20px;
}

.content {
    margin-left: 20px;
    word-wrap: break-word;
}

.response-container {
    margin-bottom: 10px;
}

.additional-info {
    margin-top: 10px;
}

/* 5. Navegação */
/* Menu de Navegação */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #28a745;
    height: 50px;
    width: calc(100% + 4px); /* Expande a largura para cobrir os 2mm de cada lado */
    max-width: calc(960px + 50px); /* Expande a largura máxima para cobrir os 2mm de cada lado */
    margin: 0 auto; /* Centraliza o menu de navegação */
    padding: 0 20px; /* Adiciona padding lateral */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}


.menu-icon {
    display: none;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
}

nav {
    border-bottom: none;
    margin-bottom: 0;
}

nav ul, nav li {
    border-bottom: none;
    margin-bottom: 0;
}

nav a {
    border-bottom: none;
    margin-bottom: 0;
}

/* 6. Compartilhamento */
#share-options a {
    color: #555;
}

#share-options a:hover {
    color: #333;
}

/* 7. Rodapé */
footer p {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

/* 8. Logo */
.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
    height: auto;
}

/* 9. Resultados de Busca */
.result-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Botão Verde */
.button-green {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button-green:hover {
    background-color: #218838;
}

/* 10. Media Queries para Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 14px;
        max-width: calc(100% - 20px); /* Reduz a largura do contêiner para ser 16px menor */
        margin: 0 auto; /* Centraliza o contêiner */
    }

    .nav-container {
        flex-direction: column;
        align-items: center; /* Alinha os itens ao centro */
        padding-right: 10px;
        padding-left: 10px;
        width: 100%; /* Largura total do menu de navegação */
        max-width: 100%; /* Garante que o menu não exceda a largura da tela */
        margin: 0 auto; /* Centraliza o menu de navegação */
    }

    .privacy {
        text-align: center;
        margin-top: 10px;
        font-size: 0.9em;
        color: #555;
    }

    .content {
        padding: 0 2%;
    }
}
