/* styles.css */

/* Estilo para centralizar o contêiner de feedback */
.feedback-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Estilo para os botões de feedback */
#feedback-form {
    text-align: center;
    margin-top: 20px;
}

#feedback-form button {
    font-size: 2em;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#feedback-form button:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}

/* Outros estilos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 8px;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.privacy {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
}

/* Estilo adicionado para o contêiner da resposta */
.response-container {
    max-height: none; /* Ajuste este valor conforme necessário */
    overflow: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para garantir que o botão "Continuar" esteja visível */
form#feedback-form, form#location-form, form#continue-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form#continue-form button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
}
