<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IA Emotion Decision Making - Suporte para tomadas de decisões emocionais utilizando IA.">
    <meta name="keywords" content="IA, Decisões Emocionais, Terapia Cognitivo-Comportamental, Suporte Emocional">
    <meta name="author" content="Equipe IA Emotion Decision Making">
    <title>Contato - IA Emotion</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <script src="/static/js/script.js" defer></script> <!-- Incluindo o script principal -->
</head>
<body>
    <header>
			<nav>
				<div class="nav-container">
					<div class="menu-icon" id="menu-toggle">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<ul class="nav-list" id="nav-list">
						<li><a href="/">Home</a></li>
						<li><a href="/sobre.html">Sobre</a></li>
						<li><a href="/contato.html">Contato</a></li>
					<li><a href="/privacidade.html">Privacidade</a></li>
					</ul>
				</div>
			</nav>
    </header>
    <div class="page-container">
        <h1>Contato - IA Emotion</h1>
        <h2>Introdução:</h2>
        <p>A IA Emotion Decision Making está aqui para fornecer suporte emocional, financeiro e jurídico através da inteligência artificial. Se você tiver dúvidas, sugestões ou precisar de suporte adicional, estamos à disposição para ajudar. Utilize as informações abaixo para entrar em contato conosco.</p>

        <h2>Formas de Contato:</h2>
        <ul class="contact-list">
            <li>
                <strong>E-mail:</strong>
                <p>Para questões gerais, dúvidas sobre o uso da plataforma, ou para fornecer feedback, envie um e-mail para: <a href="mailto:suporte@iaemotion.com">suporte@iaemotion.com</a></p>
            </li>
            <li>
                <strong>Telefone:</strong>
                <p>Nosso atendimento telefônico está disponível de segunda a sexta-feira, das 9h às 18h. Ligue para: +55(43) 99996-4257</p>
            </li>
            <li>
                <strong>Endereço:</strong>
                <p>Se você deseja enviar correspondências ou visitar nosso escritório, estamos localizados no seguinte endereço:</p>
                <p>Rua Castro Alves, 398, Londrina, Paraná, Brasil, CEP 86070-670</p>
            </li>
        </ul>

        <h2>Formulário de Contato:</h2>
        <p>Para sua conveniência, você também pode nos enviar uma mensagem diretamente através do formulário de contato em nosso site. Preencha os campos com suas informações e a mensagem, e responderemos o mais breve possível.</p>

        <h2>Informações Necessárias:</h2>
        <p>Ao entrar em contato conosco, por favor, forneça as seguintes informações para que possamos atendê-lo de maneira mais eficiente:</p>
        <ul class="info-list">
            <li>Nome completo</li>
            <li>E-mail de contato</li>
            <li>Assunto da mensagem</li>
            <li>Descrição detalhada da sua dúvida, sugestão ou problema</li>
        </ul>

        <h2>Aviso de Privacidade:</h2>
        <p>Queremos garantir que todas as suas informações pessoais sejam tratadas com a máxima segurança e confidencialidade. Reiteramos que não armazenamos dados pessoais em nossos sistemas, e qualquer interação através de e-mails ou formulários será tratada de acordo com nossa Política de Privacidade.</p>

        <h2>Rede Social:</h2>
        <p>Fique por dentro das nossas novidades e atualizações seguindo nossas redes sociais:</p>
        <ul class="social-list">
            <li>Facebook: <a href="https://www.facebook.com">[link para a página do Facebook]</a></li>
            <li>Twitter: <a href="https://www.twitter.com">[link para a página do Twitter]</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com">[link para a página do LinkedIn]</a></li>
        </ul>

        <h2>Conclusão:</h2>
        <p>Estamos comprometidos em proporcionar a melhor experiência possível e em garantir que você receba o suporte necessário. Não hesite em entrar em contato conosco. Sua opinião é muito importante para nós!</p>
    </div>
    <footer class="footer">
        <p class="privacy">Privacidade: Nenhum dado seu será armazenado ou compartilhado.</p>
        <p class="privacy">© 2024 IA Emotion</p>
    </footer>
</body>
</html>
