<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IA Emotion Decision Making - Suporte para tomadas de decisões emocionais utilizando IA.">
    <meta name="keywords" content="IA, Decisões Emocionais, Terapia Cognitivo-Comportamental, Suporte Emocional">
    <meta name="author" content="Equipe IA Emotion Decision Making">
    <title>Política de Privacidade - IA Emotion</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <script src="/static/js/script.js" defer></script> <!-- Incluindo o script principal -->
</head>
<body>
    <header>
			<nav>
				<div class="nav-container">
					<div class="menu-icon" id="menu-toggle">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<ul class="nav-list" id="nav-list">
						<li><a href="/">Home</a></li>
						<li><a href="/sobre.html">Sobre</a></li>
						<li><a href="/contato.html">Contato</a></li>
					<li><a href="/privacidade.html">Privacidade</a></li>
					</ul>
				</div>
			</nav>
    </header>
    <div class="page-container">
        <h1>Política de Privacidade - IA Emotion</h1>

        <h2>Introdução</h2>
        <p>A IA Emotion Decision Making valoriza e respeita a privacidade dos seus usuários. Esta Política de Privacidade descreve como coletamos, usamos, compartilhamos e protegemos suas informações pessoais quando você utiliza nosso serviço.</p>

        <h2>Coleta de Informações</h2>
        <h3>1. Informações Fornecidas pelo Usuário:</h3>
        <p>Durante o uso do nosso serviço, solicitamos que você forneça informações como idade, sexo, identidade sexual, descrição da situação, sentimentos e razão do apoio. Essas informações são essenciais para personalizar o suporte oferecido pela IA.</p>
        <p>Exemplos:</p>
        <ul class="info-list">
            <li>Inserção de dados no formulário: idade, sexo e/ou identidade sexual, descrição da situação, sentimentos gerados, razão do apoio e ação esperada da IA.</li>
        </ul>

        <h3>2. Informações de Navegação:</h3>
        <p>Coletamos automaticamente informações sobre a sua interação com o nosso site, como endereço IP, tipo de navegador, páginas acessadas e tempo gasto em cada página. Utilizamos cookies e outras tecnologias de rastreamento para facilitar essa coleta.</p>

        <h2>Uso das Informações</h2>
        <h3>1. Personalização do Serviço:</h3>
        <p>Utilizamos as informações fornecidas para gerar respostas personalizadas e adequadas às suas necessidades emocionais, financeiras ou jurídicas.</p>
        <p>Exemplos:</p>
        <ul class="info-list">
            <li>Respostas da IA baseadas na descrição da situação e nos sentimentos reportados.</li>
            <li>Ajustes nas respostas considerando a idade do usuário, como sugerir ações apropriadas para adolescentes ou idosos.</li>
        </ul>

        <h3>2. Melhoria do Serviço:</h3>
        <p>As informações de navegação são usadas para entender como os usuários interagem com nosso site e para melhorar a funcionalidade e a experiência do usuário.</p>

        <h3>3. Segurança:</h3>
        <p>Implementamos medidas de segurança para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição.</p>

        <h2>Compartilhamento de Informações</h2>
        <h3>1. Confidencialidade:</h3>
        <p>Não compartilhamos suas informações pessoais com terceiros, exceto conforme necessário para fornecer o serviço solicitado ou conforme exigido por lei.</p>

        <h3>2. Parceiros de Serviço:</h3>
        <p>Podemos compartilhar informações com prestadores de serviço confiáveis que nos ajudam a operar o site e fornecer nosso serviço, desde que eles concordem em manter essas informações confidenciais.</p>

        <h2>Seus Direitos</h2>
        <h3>1. Acesso e Correção:</h3>
        <p>Como não armazenamos dados pessoais em bancos de dados, não há possibilidade de acessar ou corrigir informações pessoais após o término da sessão. Recomendamos que os usuários façam cópias das respostas geradas pela IA (por exemplo, tirando prints de tela) se desejarem manter um registro das interações.</p>

        <h3>2. Exclusão de Dados:</h3>
        <p>Devido à natureza do serviço, não armazenamos informações pessoais, portanto, não há dados a serem excluídos por parte da equipe. Toda interação é temporária e mantida apenas durante a sessão ativa do navegador.</p>

        <h2>Interações com a IA</h2>
        <h3>1. Preenchimento do Formulário:</h3>
        <p>O usuário preenche um formulário inicial fornecendo informações sobre sua situação emocional, sentimentos e expectativas de apoio. Essas informações são usadas para personalizar as respostas da IA.</p>

        <h3>2. Resposta da IA:</h3>
        <p>A IA analisa as informações fornecidas e gera respostas e sugestões práticas para ajudar o usuário a lidar com a sua situação. Estas respostas são apresentadas em um formato claro e didático, contendo exemplos práticos e orientações baseadas nas Teorias e técnicas Cognitivo-Comportamental (TCC), Aceitação e Compromisso (ACT), Psicanálise e Comportamental.</p>

        <h2>Aviso de Segurança</h2>
        <h3>Não Armazenamento de Dados:</h3>
        <p>As respostas da IA apresentadas durante a interação não são gravadas em bancos de dados para garantir a segurança e a privacidade do usuário. Se você continuar a navegação, não será possível retornar para ler as respostas novamente. Recomendamos que os usuários façam copy/paste (copiar e colar) ou tirem prints de tela se desejarem salvar as respostas.</p>

        <h2>Alterações na Política de Privacidade</h2>
        <p>Podemos atualizar esta Política de Privacidade periodicamente. Notificaremos você sobre quaisquer alterações publicando a nova política no nosso site. Recomendamos revisar esta política regularmente para se manter informado sobre nossas práticas de privacidade.</p>

        <h2>Contato</h2>
        <p>Se você tiver alguma dúvida sobre esta Política de Privacidade ou sobre nossas práticas de coleta e uso de informações, entre em contato conosco através do e-mail <a href="mailto:suporte@iaemotion.com">suporte@iaemotion.com</a>.</p>

        <h2>Data de Vigência</h2>
        <p>Esta Política de Privacidade é válida a partir de 06 de agosto de 2024.</p>
    </div>
    <footer class="footer">
        <p class="privacy">Privacidade: Nenhum dado seu será armazenado ou compartilhado.</p>
        <p class="privacy">© 2024 IA Emotion</p>
    </footer>
</body>
</html>
