<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IA Emotion Decision Making - Suporte para tomadas de decisões emocionais utilizando IA.">
    <meta name="keywords" content="IA, Decisões Emocionais, Terapia Cognitivo-Comportamental, Suporte Emocional">
    <meta name="author" content="Equipe IA Emotion Decision Making">
    <title>Sobre a IA Emotion</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <script src="/static/js/script.js" defer></script> <!-- Incluindo o script principal -->
</head>
<body>
    <header>
			<nav>
				<div class="nav-container">
					<div class="menu-icon" id="menu-toggle">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<ul class="nav-list" id="nav-list">
						<li><a href="/">Home</a></li>
						<li><a href="/sobre.html">Sobre</a></li>
						<li><a href="/contato.html">Contato</a></li>
					<li><a href="/privacidade.html">Privacidade</a></li>
					</ul>
				</div>
			</nav>
    </header>
    <div class="container">
        <h1>Sobre a IA Emotion</h1>
        <h2>Introdução:</h2>
        <p>A IA Emotion é uma plataforma inovadora dedicada a fornecer suporte emocional, financeiro e jurídico através da inteligência artificial. Nosso objetivo é oferecer um atendimento rápido, eficiente e personalizado para ajudar nossos usuários a enfrentar os desafios da vida com mais segurança e bem-estar.</p>

        <h2>Nossa Missão:</h2>
        <p>Acreditamos que o acesso ao suporte emocional e prático é um direito humano fundamental. Por isso, trabalhamos para garantir que todos possam receber ajuda de forma gratuita, confidencial e acessível, independentemente da situação.</p>

        <h2>Nossa História:</h2>
        <p>A IA Emotion nasceu da necessidade de proporcionar suporte imediato e eficaz para aqueles que precisam. Combinamos tecnologia avançada e conhecimento especializado para criar uma plataforma que atende às necessidades emergenciais dos usuários, oferecendo orientações práticas e apoio emocional baseado na Terapia Cognitivo-Comportamental (TCC).</p>

        <h2>Nossa Equipe:</h2>
        <p>Nossa equipe é composta por três profissionais dedicados, apaixonados por tecnologia e pelo bem-estar humano.</p>
        
        <ul class="team-list">
            <li>
                <strong>Alyne Orquiza:</strong>
                <p>Alyne é responsável pelo marketing e relações comerciais. Com uma vasta experiência em projetos de tecnologia, Alyne é a força motriz por trás da divulgação e das parcerias da nossa plataforma. Seu compromisso com a inovação e a expansão do alcance da IA Emotion garante que nossa plataforma esteja sempre visível e eficaz no mercado.</p>
            </li>
            <li>
                <strong>Ricardo Stock:</strong>
                <p>Ricardo é especialista em desenvolvimento de software e inteligência artificial. Com uma vasta experiência em projetos de tecnologia, Alyne é a força motriz por trás da arquitetura e das funcionalidades da nossa plataforma. Seu compromisso com a inovação garante que nossa IA esteja sempre atualizada e eficaz.</p>
            </li>
            <li>
                <strong>João Carlos Orquiza:</strong>
                <p>João é o líder da equipe e responsável pela coordenação do projeto. Com uma carreira sólida em gestão de projetos e desenvolvimento de negócios, João garante que a IA Emotion esteja sempre focada em proporcionar o melhor atendimento aos usuários. Sua visão estratégica e liderança são essenciais para o sucesso contínuo da nossa plataforma.</p>
            </li>
        </ul>

        <h2>Nossos Valores:</h2>
        <ul class="values-list">
            <li><strong>Acessibilidade:</strong> Queremos que todos tenham acesso ao suporte de que precisam, independentemente de suas circunstâncias.</li>
            <li><strong>Confidencialidade:</strong> Respeitamos a privacidade de nossos usuários e garantimos que todas as interações sejam seguras e confidenciais.</li>
            <li><strong>Inovação:</strong> Estamos constantemente melhorando nossa tecnologia para fornecer respostas cada vez mais precisas e úteis.</li>
            <li><strong>Empatia:</strong> Entendemos que cada usuário tem uma história única, e nossa abordagem é sempre compassiva e personalizada.</li>
        </ul>

        <h2>Conclusão:</h2>
        <p>Na IA Emotion, estamos comprometidos em ajudar você a enfrentar os desafios emocionais, financeiros e jurídicos com confiança e suporte especializado. Agradecemos a confiança em nossa plataforma e estamos aqui para apoiar você em todas as etapas do seu caminho.</p>
        
        <p><strong>João Carlos Orquiza</strong></p>
        <p>Responsável pela coordenação do projeto. Com uma carreira de pesquisador teórico conceitual com foco sobre a forma e como emoções e sentimentos desencontrados que podem paralisar e desequilibrar rapidamente um ser humano. Com publicações de ensaios e artigos em Psicologia e Psiquiatria, João garante que a IA Emotion esteja sempre focada em proporcionar o melhor atendimento aos usuários. Sua visão estratégica e liderança são essenciais para o sucesso contínuo da nossa plataforma.</p>
    </div>
    <footer class="footer">
        <p class="privacy">Privacidade: Nenhum dado seu será armazenado ou compartilhado.</p>
        <p class="privacy">© 2024 IA Emotion</p>
    </footer>
</body>
</html>
